<div class="am-container">
  <div class="topic">
    <div class="header">
      <div class="am-text-xl"><%= topic.title %></div>
      <div class="am-text-sm">
        <a href="/user/<%= topic.author.id %>"><%= topic.author.loginname %></a> 创建于 <%= fromNow(topic.createdAt) %>
        • <%= topic.visitCount %> 次浏览
        <% if(req.user && topic.author.id === req.user.id ) {%>
        • &nbsp; <a href="/topic/<%= topic.id %>/edit"><span class="am-icon-edit am-icon-sm"></span></a>
          &nbsp; <a href="#" data-id="<%= topic.id %>" class="delete"><span class="am-icon-trash am-icon-sm"></span></a>
        <% } %>
      </div>
    </div>
    <div class="body">
      <%- markdown(topic.content) %>
    </div>
  </div>

  <ul class="am-comments-list">
  <% _.each(topic.replies, function(reply){ %>
    <li class="am-comment">
      <a href="/user/<%= topic.author.id %>">
        <img class="am-comment-avatar" src="https://ruby-china-files.b0.upaiyun.com/user/big_avatar/1141.jpg"/>
      </a>

      <div class="am-comment-main">
        <header class="am-comment-hd">
          <div class="am-comment-meta">
            <a href="/user/<%= reply.author.id %>" class="am-comment-author"><%= reply.author.loginname %></a>
            评论于 <time datetime="<%= reply.createdAt %>"> <%= fromNow(reply.createdAt) %> </time>
          </div>
        </header>

        <div class="am-comment-bd"><%= reply.content %></div>
      </div>
    </li>
  <% }); %>
  </ul>

  <% if(req.isAuthenticated()) {%>
  <div class="am-container">
    <form class="am-form" action='/reply/create' method='post'>
        <input type="hidden" name="topic" value="<%= topic.id %>"/>
        <div class="am-form-group">
          <label for="new_topic">添加回复</label>
          <textarea id="simpleMDE" rows="5" name="content"></textarea>
        </div>

        <p><button type="submit" class="am-btn am-btn-primary">提交</button></p>
    </form>
  </div>
  <% } %>

</div>
<br/>
