<div class="am-g am-g-fixed am-g-collapse">
  <div class="am-u-sm-12 topic">
    <div class="header">
      <div class="am-text-xl"><%= topic.title %></div>
      <div class="am-text-sm">
        <a href="#"><%= topic.author.loginname %></a> 创建于 <%= fromNow(topic.createdAt) %>
        <% if(req.user && topic.author.id === req.user.id ) {%>
          • <a href="/topic/<%= topic.id %>/edit"><span class="am-icon-edit am-icon-sm"></span></a>
          • <a href="#" class="delete"><span class="am-icon-trash am-icon-sm"></span></a>
        <% } %>
      </div>
    </div>

    <div class="body">
      <%- markdown(topic.content) %>
    </div>
  </div>
</div>
<br/>

<% _.each(topic.replies, function(reply){ %>
  <article class="am-container am-comment">
    <a href="">
      <img class="am-comment-avatar" src="https://ruby-china-files.b0.upaiyun.com/user/big_avatar/1141.jpg"/>
    </a>

    <div class="am-comment-main">
      <header class="am-comment-hd">
        <!--<h3 class="am-comment-title">评论标题</h3>-->
        <div class="am-comment-meta"> <!-- 评论元数据 -->
          <a href="#link-to-user" class="am-comment-author">feitian124</a>
          评论于 <time datetime=""> <%= fromNow(reply.createdAt) %> </time>
        </div>
      </header>

      <div class="am-comment-bd"><%= reply.content %></div>
    </div>
  </article>
<% }); %>

<br/>
