<br/>
<div class="am-container">
  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">用户信息</h3>
    </header>
    <div class="am-panel-bd">
      <img src="https://ruby-china-files.b0.upaiyun.com/user/big_avatar/1141.jpg"/>
      <h3><%= user.loginname %></h3>
      <p>微信: <%= user.wechat %></p>
      <p>微博: <%= user.weibo %></p>
      <p>个性签名: <%= user.signature %></p>
      <p>注册时间 <%= fromNow(user.createdAt) %></p>
    </div>
  </section>

  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">最近创建的话题</h3>
    </header>
    <div class="am-panel-bd">
      TODO
    </div>
  </section>

  <section class="am-panel am-panel-default">
    <header class="am-panel-hd">
      <h3 class="am-panel-title">最近参与的话题</h3>
    </header>
    <div class="am-panel-bd">
      TODO
    </div>
  </section>
</div>
